<?xml version="1.0"?>
<launch>

  <!-- <node ns="left_arm_ft_sensor" name="drift_compensation" pkg="dumbo_ft_drift_compensation" type="ft_drift_compensation_node" cwd="node" respawn="false" output="screen"> -->
  <node ns="left_arm_ft_sensor" name="drift_compensation" pkg="dumbo_ft_drift_compensation" type="ft_drift_compensation_node" launch-prefix="xterm -e gdb --args">
    <rosparam command="load" file="$(find dumbo_ft_drift_compensation)/config/dumbo_left_arm_ft_drift_compensation.yaml" />
    <remap from="/left_arm_ft_sensor/drift_compensation/ft_drift_compensated" to="/left_arm_ft_sensor/ft_drift_compensated" />
    <remap from="/left_arm_ft_sensor/drift_compensation/ft_gravity_compensated" to="/left_arm_ft_sensor/ft_gravity_compensated" />
  </node>

</launch>